# Compiled Object files
*.o
*.obj

# Executables
*.exe
*.dll
*.so
*.out
*.app

# Folder config
.DS_Store
Thumbs.db

# VS Code history/local
.history/
.vscode/ipch/
.vscode/*.db

# Python (if any)
__pycache__/
*.pyc
